[Unit]
Description=GNOME service to inhibit idle and sleep if a video or audio player is running
[Service]
User=YOURUSERNAME
WorkingDirectory=/
ExecStart=playerguard start
ExecStop=playerguard stop
Restart=always
[Install]
WantedBy=multi-user.target
