[Unit]
Description=Deep-Sleep-Service for PinePhone that supports periodic wake-ups to get notifications and GNOME sleep inhibitors.

[Service]
User=root
WorkingDirectory=/
ExecStart=sleepwalk start
ExecStop=sleepwalk stop
Restart=always

[Install]
WantedBy=multi-user.target
